<h4 style="font-weight: 600;">Welcome, <span style="color:#088f71;">{{name}}</span>.</i> </h3>
<h6 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Here are your story that you shared ...</h6>
<br>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdOn "Do MMMM  YYYY, h:mm:ss a"}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td><a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
<h5 style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">You have not created any stories.</h5>

{{/if}}
